In [2]:
import pandas
pandas.__version__

'1.0.1'

In [6]:
import numpy as np
import pandas as pd

In [7]:
counts = pd.Series([500, 600, 800, 1000])
counts

0     500
1     600
2     800
3    1000
dtype: int64

In [8]:
counts.values

array([ 500,  600,  800, 1000], dtype=int64)

In [9]:
counts.index

RangeIndex(start=0, stop=4, step=1)

In [10]:
metals = pd.Series([500, 600, 800, 1000], 
    index=['Steel', 'Aluminium', 'Nickel', 'Titanium'])
metals

Steel         500
Aluminium     600
Nickel        800
Titanium     1000
dtype: int64

In [11]:
metals['Steel']

500

In [13]:
metals[2]

800

In [14]:
np.log(metals)

Steel        6.214608
Aluminium    6.396930
Nickel       6.684612
Titanium     6.907755
dtype: float64

In [17]:
metals[metals<1000]

Steel        500
Aluminium    600
Nickel       800
dtype: int64

In [18]:
data = {"Province": ["AB", "CD", "EF", "GH", "IJ"],
        "Year": [2015, 2016, 2017, 2018, 2019],
        "Literacy": [0.2, 0.1, 0.5, 0.3, 0.5]}
print(data)
data = pd.DataFrame(data)
data

{'Province': ['AB', 'CD', 'EF', 'GH', 'IJ'], 'Year': [2015, 2016, 2017, 2018, 2019], 'Literacy': [0.2, 0.1, 0.5, 0.3, 0.5]}

  Province  Year  Literacy
0       AB  2015       0.2
1       CD  2016       0.1
2       EF  2017       0.5
3       GH  2018       0.3
4       IJ  2019       0.5

In [6]:
import numpy as np
import pandas as pd

In [9]:
df=pd.DataFrame([{'aa': 1, 'bb': 2}, {'bb': 3, 'cc': 6}])
df=df.to_dic()
df

AttributeError: 'DataFrame' object has no attribute 'to_dic'

In [10]:
rng = np.random.RandomState(10)
ser = pd.Series(rng.randint(0, 10, 4))
ser

0    9
1    4
2    0
3    1
dtype: int32

In [11]:
dfr = pd.DataFrame(rng.randint(0, 10, (5, 4)),
                  columns=['A', 'B', 'C', 'D'])
dfr

   A  B  C  D
0  9  0  1  8
1  9  0  8  6
2  4  3  0  4
3  6  8  1  8
4  4  1  3  6

In [12]:
np.exp(ser)

0    8103.083928
1      54.598150
2       1.000000
3       2.718282
dtype: float64

In [13]:
np.sin(dfr * np.pi / 4)

              A             B             C             D
0  7.071068e-01  0.000000e+00  7.071068e-01 -2.449294e-16
1  7.071068e-01  0.000000e+00 -2.449294e-16 -1.000000e+00
2  1.224647e-16  7.071068e-01  0.000000e+00  1.224647e-16
3 -1.000000e+00 -2.449294e-16  7.071068e-01 -2.449294e-16
4  1.224647e-16  7.071068e-01  7.071068e-01 -1.000000e+00

In [14]:
area = pd.Series({'Chaina': 1723337, 'Texas': 695662,
                  'India': 423967}, name='area')
population = pd.Series({'India': 38332521, 'Texas': 26448193,
                        'New York': 19651127}, name='population')
print(area)
population

Chaina    1723337
Texas      695662
India      423967
Name: area, dtype: int64

India       38332521
Texas       26448193
New York    19651127
Name: population, dtype: int64

In [15]:
population / area

Chaina            NaN
India       90.413926
New York          NaN
Texas       38.018740
dtype: float64

In [16]:
A = pd.Series([2, 4, 6], index=[0, 1, 2])
B = pd.Series([1, 3, 5], index=[1, 2, 3])
print(A)
print(B)
B
A + B

0    2
1    4
2    6
dtype: int64
1    1
2    3
3    5
dtype: int64

0    NaN
1    5.0
2    9.0
3    NaN
dtype: float64

In [17]:
A.add(B, fill_value=0) #Can fill with 0 but dont leave by NaN

0    2.0
1    5.0
2    9.0
3    5.0
dtype: float64